{% extends 'layout.html' %}
{% block body %}
<script src="{{ url_for('static', filename='javascript/ma_plot.js') }}"></script>

{# ERROR MESSAGE #}
{% if error %}
<div class="alert alert-danger mt-2" role="alert" id="error_div">
  <div class="row">
    <div class="col col-xs-10" id="error_messages">{{ error }}</div>
    <div class="col col-sm-2"><span class="close" aria-label="Close"> &times;</span></div>
  </div>
</div>
{% endif %}

{% if not no_data %}
<form action="" method="POST">
  <label for="contrast">Select contrasts:</label>
  <select name="contrast" class="custom-select" id="contrast">
    <option value="select_contrast" {% if not selected_contrast %}selected{% endif %}>
        Select contrast..</option>
    {% for contrast in contrasts %}
      <option value="{{ contrast }}" {% if contrast==selected_contrast %}selected{% endif %}>{{ contrast }}</option>
    {% endfor %}
  </select>

    {# APPLY FILTERS #}
    <div class="form-check mt-4">
        <input class="form-check-input" type="checkbox" value="true" id="apply_filters" name="apply_filters"
           {% if apply_filters %}checked{% endif %}>
        <label class="form-check-label" for="apply_filters">Apply filters</label>
    </div>

    {# FILTERS #}
    <div class="list-group mt-2 {% if not apply_filters %}d-none{% endif %}" id="data_filters">
        <div class="list-group-item">
            {# P VALUE #}
            <div class="row mt-2">
                <div class="col-sm-2">
                    <label for="pval"data-toggle="tooltip" data-placement="bottom" title="Leave empty to ignore this filter">
                        P value:</label>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" name="pval" min="0.0" step="0.01" id="pval"
                        value="{% if filters %}{{ filters.get('pval') }}{% else %}0.05{% endif %}"
                        data-toggle="tooltip" data-placement="bottom" title="Leave empty to ignore this filter">
                </div>
            </div>
            {# FOLD CHANGE #}
            <div class="row mt-2">
                <div class="col-sm-2">
                    <label for="fc"data-toggle="tooltip" data-placement="bottom" title="Leave empty to ignore this filter">
                        Fold Change:</label>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" name="fc" min="0" step="0.1" id="fc"
                        value="{% if filters %}{{ filters.get('fc') }}{% else %}4{% endif %}"
                        data-toggle="tooltip" data-placement="bottom" title="Leave empty to ignore this filter">
                </div>
            </div>
            {# Min counts #}
            <div class="row mt-2">
                <div class="col-sm-2">
                    <label for="min_counts">Min counts:</label>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" name="min_counts" min="0" step="1" id="min_counts"
                        value="{% if filters %}{{ filters.get('min_counts') }}{% else %}0{% endif %}">
                </div>
            </div>
            {# Max counts #}
            <div class="row mt-2">
                <div class="col-sm-2">
                    <label for="max_counts"data-toggle="tooltip" data-placement="bottom" title="Leave empty to ignore this filter">
                        Max counts:</label>
                </div>
                <div class="col-sm-2">
                    <input class="form-control" type="number" name="max_counts" min="0" step="1"
                    id="max_counts" value="{% if filters %}{{ filters.get('max_counts') }}{% endif %}"
                    data-toggle="tooltip" data-placement="bottom" title="Leave empty to ignore this filter">
                </div>
            </div>
        </div>
    </div>
  <button class="btn btn-outline-primary mt-4" type="submit" id="plot_button">Plot data</button>
  {% if plot_series %}
    <div data-contrast="{{ selected_contrast }}" data-series="{{ plot_series }}" data-genes="{{ genes }}" id="ma_plot"
            data-ymax="{{ filters.get('fc') }}" data-xmax="{{ filters.get('max_counts') }}" data-filters="{{ apply_filters }}">
    </div>
  {% endif %}
</form>
{% endif %}
{% endblock %}