{% extends 'layout.html' %}
{% block body %}
<link href="{{ url_for('static', filename='libraries/bootstrap-editable.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='libraries/fontawesome.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/project_info.js') }}"></script>
<div class="align-middle">
    <div class="row justify-content-center">
        <h3 class="text-center mt-2">Project Info</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col col-sm-6">

        <form>
            <h5>Project details
                {# <a href="#" id="edit_project" class="align-text-right">
                    <i class="far fa-edit"></i>
                </a> #}
            </h5>
            <table class="table table-bordered">
                <tbody>
                <tr><td class="w-25">Cluster ID</td><td class="w-50">{{ project_id }}</td></tr>
                <tr><td>Project Name</td><td id="project_name">{{ project_info.get('project_name', project_id) }}</td></tr>
                <tr><td>Project Description</td><td id="description">{{ project_info.get('description', '') }}{#Project of collaborators from Netherlands, prepared with the new protocol, to be demultiplexed and analysed with diricore. The aim is to see if there’s an overabundance of codons of specific amino acids in the A-site, which would suggest ribosome stalling to occur in these cells#}</td></tr>
                <tr><td>Prepared by</td><td id="prepared_by">{{ project_info.get('prepared_by', '') }}</td></tr>
                <tr><td>Protocol</td><td id="protocol">{{ project_info.get('protocol', '') }}</td></tr>
                <tr><td>UCSC link</td><td>{% if ucsc_links %}{% for ucsc_link in ucsc_links %}
                    <a href="{{ ucsc_link }}" target="_blank">{{ ucsc_link }}</a>
                    {% endfor %}{% else %}Not available{% endif %}</td></tr>
                {% if analysis_list %}
                <tr><td>Other analysis</td>
                    <td>
                        {% for analysis in analysis_list %}
                         <a class="mr-3" href="{{ analysis.get('link') }}" target="_blank">{{ analysis.get('name') }}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}

                {% if available_stats %}
                <tr><td>Available stats</td>
                <td>
                    {% for stat in available_stats %}
                    <button class="btn btn-sm btn-outline-primary plot_button mb-1" id="{{ stat }}" type="button">{{ stat }}</button>
                    {% endfor %}
                    <div class="w-100">
                          <button type="button" class="btn btn-sm btn-outline-secondary d-none float-right" id="hide_plot">Hide Plot</button>
                        <br></div><br> {# this br and div have to be exactly like this!! otherwise button is somewhere else #}
                    <div id="plot_div" class="d-none mt-2"></div>
                </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <button id="save_project" class="btn btn-primary btn-sm" type="button">Save Changes</button>
        </form>
        </div>
        <div class="col col-sm-3">
            <h5>Samples:</h5>
            <ul class="list-group">
            {% for sample in samples %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ sample.get('sample') }}
                    <span class="badge badge-primary badge-pill">{{ sample.get("reads") }}M</span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}