{% extends 'layout.html' %}
{% block body %}

<script src="{{ url_for('static', filename='javascript/projects.js') }}"></script>
<div>
  <div class="row justify-content-md-center">
    <div class="col col-sm-6 list-group"><h3 class="text-center">Current projects:</h3><div>
  </div>
  <div class="row mt-2 justify-content-md-center">
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Project (name, id...)" id="search">
      <button type="button" class="btn btn-outline-primary ml-2" id="search_btn">Search</button>
      <button type="button" class="btn btn-outline-danger ml-2 d-none" id="clear_search">Clear results</button>
    </form>
  </div>
  <div id="search_results" class="mt-2">
  </div>
  <div>
    {% for project in projects %}
      <a href="/project_info/{{ project }}" class="list-group-item list-group-item-action project" id="{{ project }}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ project_info.get(project, {}).get('project_name', "No name") }}</h5>
          <small>Prepared by {{ project_info.get(project, {}).get('prepared_by') }}</small>
        </div>
        <div class="d-flex w-100">
          <h6>{{ project }}</h6>
        </div>
        <p class="mb-1">{{ project_info.get(project, {}).get('description', "Empty description") }}</p>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}