{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='javascript/psite_plot.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/highcharts_heatmap.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/highcharts-more.js') }}"></script>
<form action="" method="POST">
  <label for="contrast_select">Select contrast:</label>
  <select name="contrast" class="custom-select" id="contrast_select">
    <option value="select_contrast" {% if not plot_series %}selected{% endif %}>
        Select contrast..</option>
    {% for contrast in contrasts %}
      <option value="{{ contrast }}" {% if selected_contrast==contrast %}selected{% endif %}>{{ contrast }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-outline-info mt-4" type="submit" id="plot_button">Plot data</button>
</form>
<div id="psite_plot" data-plot-series="{{ psite_series }}" data-x_categories="{{ x_categories }}" data-min="{{ min_fc }}"
    data-max="{{ max_fc }}" data-middle="{{ middle_val }}"></div>

<div class="row ml-30"><h7 class="mt-2">{{ min_fc }}</h7><canvas id="legend" class="w-80"></canvas><h7 class="mt-2 ml-0">{{ max_fc }}</h7></div>
{% endblock %}